@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: #5cb85c;
}

.active-aside_link {
    opacity: 0;
}

.active .active-aside_link {
    opacity: 1;
}

input, select, textarea { 
    outline: none;
}

aside {
    box-shadow: rgba(0, 0, 0, 0.05) 5px 0px 10px 0px;
}

aside>div:first-child {
    box-shadow: rgba(0, 0, 0, 0.05) 5px 0px 6px 0px;
}

/* Icone de ajude nos cards do formulário */
.help_box-text {
    hyphens: auto;
}

.help_box-container:hover .help_box-text {
    opacity: 1 !important;
    visibility: visible !important;
}